<style>
    a{text-decoration: none;}
    td a{border:1px solid black;border-radius: 20px;padding-left: 5px;padding-right: 5px;padding-top: 5px;padding-bottom: 5px;}
    td a:hover{background-color: aqua;}
    il{text-align: center;}
    td,th{text-align: center;padding-left: 10px;padding-right: 10px;padding-top: 10px;padding-bottom: 10px;}
</style>
<ul>
    <il><a href="{% url 'home' %}">Home</a></il>
    <il><a href="{% url 'add' %}">Add</a></il>
    <il><a href="{% url 'index' %}">Update</a></il>
    <il><a href="">Search by Name</a></il>
    <il><a href="">View All Student</a></il>
</ul>
<h1>Students</h1>

<table border="1"><tr><th>ID</th>
<th>Name</th><th>gpa</th><th>email</th><th>level</th><th>Status</th><th>phone</th><th>gender</th><th>department</th><th>Birth</th><th>Option1</th><th>Option2</th></tr>
    {% for x in mymembers %}<tr>
        <td>{{x.id}}</td>
        <td>{{x.name}}</td>
        <td>{{x.gpa}}</td>
        <td>{{x.email}}</td>
        <td>{{x.level}}</td>
        <td>{{x.status}}</td>
        <td>{{x.phone}}</td>
        <td>{{x.gender}}</td>
        <td>{{x.department}}</td>
        <td>{{x.birth}}</td>
        <td><a href="update/{{x.id}}">Update</a></td>
        <td><a href="delete/{{x.id}}">Delete</a></td>
    </tr>
    {% endfor %}
</table>